form {
  text-align: center;
}

.uk-button-primary {
  display: block;
  margin-top: -15px;
  margin-left: auto;
}

span {
  font-size: 10px;
  margin-top: 0px;
  position: relative;
  right: 10px;
  display: block;
}

.uk-panel-box-primary {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -50px;
  margin-bottom: -25px;
}
